@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

.box {
    color: #fff;
    font-size: 100px;
    text-align: center;
    padding: 15px;
}

.container {
    border: 3px solid black;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
}

.box1 {
    background-color: #ff4557;
}

.box2 {
    background-color: #1e90ff;
}

.box3 {
    background-color: #2ed573;

}

.box4 {
    background-color: rgb(255, 36, 255);
}

/* Flexbox Code Below: */

.container {
    display: flex;
    /* flex-direction is row by default, it sets the main axis*/
    /* flex-direction: column; */

    /* flex-wrap is nowrap by default */
    /* flex-wrap: wrap; */

    /* justify-content is flex-start by default */
    /* justify-content: flex-start; */

    /* align-tems is stretch by default */
    /* align-items: flex-start; */

    /* wrap must be enabled for align-content to work */
    /* align-content: flex-start; */

    /* gap: 5px;
    row-gap: 5px;
    column-gap: 10px; */
}

/* .box {
    flex-basis: 200px;
} */

.box1 {
    /* baseline positions where the text would naturally line itself */
    /* align-self: baseline;
    font-size: 2rem; */

    /* flex-basis: 500px; */
    /* flex-shrink: 5; */

    min-width: 400px;
}

.box2 {
    /* align-self: baseline;
    font-size: 3rem; */

    /* flex-basis: 200px; */
    /* flex-shrink: 1; */
}

.box3 {
    /* align-self: baseline; */

    /* flex-basis: 200px; */
    /* flex-shrink: 1; */
}

.box4 {
    /* flex-basis: 200px; */
    /* flex-shrink: 1; */
}

.innerBox {
    background-color: dodgerblue;
    border: 2px solid white;
}